<div class="d-flex justify-content-center mt-5">
  <span class="fs-1">
  {{#if isAuthenticated}}{{user.name}}'s{{/if}}
  GameList
  </span>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center mt-5">
        <div class="d-flex flex-column bd-highlight m-3">
          <a href="/MapleStory">
            <img src="https://i.imgur.com/iH2JCHx.jpg" width="400px" height="450px" title="source: imgur.com">
          </a>
          <div class="d-flex justify-content-center mt-3">
            <a href="/MapleStory">
              MapleStory
            </a>
          </div>
        </div>
        <div class="d-flex flex-column bd-highlight m-3">
          <a href="/GrandChase">
            <img src="https://i.imgur.com/cuf6JeG.jpg" width="400px" height="450px" title="source: imgur.com">
          </a>
          <div class="d-flex justify-content-center mt-3">
            <a href="/GrandChase">
              GrandChase
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>